# Lumber Prices

* **Data:** `lumber-prices.csv`
* **Description:** Chicago lumber futures per 1000 board feet, in USD. To keep things simple, we're going to say that this is the measurement over a month instead of just one date per month. Basically: each month, how much you'd pay if you bought 125 2x4 boards at the hardware store.
* **Source:** https://tradingeconomics.com/commodity/lumber
* **Columns of interest:**
    * `Open` is the price at the start of the month
    * `High` is the high price over the course of the month
    * `Low` is the low number over the course of the month
    * `Close` is the number at the end of the month

## Read in your data

In [1]:
import pandas as pd
df = pd.read_csv("lumber-prices.csv")
df

/Users/tanazmeghjani/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

        open     high      low    close                 date
0    $407.00  $424.70  $377.00  $424.70  1996-12-09T00:00:00
1    $426.00  $450.50  $395.00  $411.40  1997-01-02T00:00:00
2    $408.50  $421.50  $382.10  $383.50  1997-02-03T00:00:00
3    $386.00  $389.70  $355.00  $380.50  1997-03-03T00:00:00
4    $378.00  $417.50  $376.50  $403.10  1997-04-01T00:00:00
..       ...      ...      ...      ...                  ...
295  $716.00  $825.60  $490.00  $621.20  2021-07-01T00:00:00
296  $623.10  $650.00  $448.00  $482.80  2021-08-02T00:00:00
297  $482.10  $659.70  $454.40  $627.50  2021-09-01T00:00:00
298  $637.10  $789.60  $588.50  $591.60  2021-10-01T00:00:00
299  $595.20  $831.80  $530.10  $824.50  2021-11-01T00:00:00

[300 rows x 5 columns]

## What is the earliest month in this dataset?

We only have one reading per month, so you could also read this as "what is the earliest date in the dataset"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    300 non-null    object
 1   high    300 non-null    object
 2   low     300 non-null    object
 3   close   300 non-null    object
 4   date    300 non-null    object
dtypes: object(5)
memory usage: 11.8+ KB

In [6]:
df.date = pd.to_datetime(df.date, errors='coerce', format= "%Y-%m-%d")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    300 non-null    object
 1   high    300 non-null    object
 2   low     300 non-null    object
 3   close   300 non-null    object
 4   date    300 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 11.8+ KB

In [25]:
df.resample('M', on='date').size().sort_values()

date
1996-12-31    1
2013-11-30    1
2013-10-31    1
2013-09-30    1
2013-08-31    1
             ..
2005-01-31    1
2004-12-31    1
2004-11-30    1
2004-09-30    1
2021-11-30    1
Length: 300, dtype: int64

## What 3 months had the highest high lumber price?

In [53]:
df.high.sort_values().head(3)

285    $1000.00
290    $1030.40
291    $1045.00
Name: high, dtype: object

## What is the median "high" lumber price in our dataset?

## Plot the lowest "low" lumber price on an annual basis.

## What month in our dataset had the largest swing between high and low?

You'll want to create a new column for this one

## In how many months did lumber prices rise?

If the price was greater at the end of the month than the beginning of the month, we'll say the price rose.

## In 2000, how many months saw lumber prices rise vs lumber prices fall?